body{
    background-color: #8ba1bb;
    font-family:Arial;
    
}
p.recette{
    background-color: black;
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0;
    
   
}

div.contenu{
    background-color: white;
    margin: 0px 10% 80px 10%;
    padding: 30px;
    min-width: 350px;
    box-shadow: 0px 0px 8px 8px #888888;
    
}

h1{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

p.description1{
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
    font-family: sans-serif;
}

.centre{
    text-align: center;
    width: 100%;
    
}
      


div.recette{
    margin-bottom: -20px;
    margin-top: 40px;
}

div.separateur{
    height: 1px;
    width: 100px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

div.centrer image{
    text-align: center;
    width: 100%;
}

.info{
    position: absolute;
    bottom: 0px;
    background-color: #6C929DC0;
    color: white;
    width: 100%;
    height: 80px;
    
   
}

.info td{
    text-align: center;
    font-size: 14px;
    vertical-align: top;
}

.info th{
    font-size: 16px;
    vertical-align: bottom;
    padding-bottom: 8px;
}


div.nfo{
    position: relative;
 

.image{
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 400px;
}    

}

div.colonneA{
    display: inline-block;
    margin-right: 10%;
   
}


div.colonneB{
    float: right;
   
}


div.colonne h2 {
   
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 5px solid #6C929D;
    padding-bottom: 5px;
}

div.colonne{
    width: 45%;
    margin-top: 20px;

    
}

div.chocolat p{
    font-size: 14px;
    border: 1px solid lightgray;
    padding: 8px  0px;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 0px;
}

table.preparation p.numero {
    background-color: #6C929D;
    width: 25px;
    height: 25px;
    border-radius: 50%; /* Cette propriété crée la forme en cercle */
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    margin: 0px;
}

table.preparation td{
    vertical-align: top;
    
}

.preparation_etape td{
    font-size: 10px;
    padding-left: 14px;
    padding-top: 14px;
}

table.preparation tr{
    height: 40px;
}

*{
    overflow: auto;
    
}
